#footer {
  padding: 2em 4em 2.5em;
  background: #f2f2f2;

  .footer {
    display: flex;
    justify-content: space-between;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        a {
          color: #848484;
          text-decoration: none;
        }
      }
    }

    .join {
      display: block;

      #email {
        width: 520px;
        height: 40px;
        padding: 18px;

      }
    }
  }
}

