#header {
  padding: 1em 3em;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}


#nav-menu-header {
  display: inline-block;
  border: 1px solid red;
}

#nav-menu-header {
  li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
  }
}